<div class="create-task">
    <form class="create-task-form">
        <div class="task-form">
            <div class="form-line">
                <p>Name:</p>
                <mat-form-field appearance="outline">
                    <mat-label>Name of Task</mat-label>
                    <input matInput
                        name="name-task"
                        [(ngModel)]="nameOfTask"
                        [disabled]="isLoading"
                    >
                </mat-form-field>
            </div>
            <div class="form-line">
                <p>Description of Task:</p>
                <mat-form-field appearance="outline" class="task-description">
                    <mat-label>Description of Task</mat-label>
                    <textarea matInput
                        name="description-task"
                        [(ngModel)]="descriptionOfTask"
                        [disabled]="isLoading"
                    >
                    </textarea>
                </mat-form-field>
            </div>
            <div class="form-line">
                <p>Deadline date:</p>
                <mat-form-field appearance="outline">
                    <mat-label>Choose a date for deadline</mat-label>
                    <input matInput
                        [disabled]="isLoading"
                        [matDatepicker]="picker"
                        [min]="minimalAvailableDate"
                        [(ngModel)]="deadlineOn"
                        name="deadline-date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <button mat-flat-button [disabled]="isLoading" type="submit" (click)="createTask()">Create task</button>
            <mat-spinner *ngIf="isLoading" [diameter]="45"></mat-spinner>
        </div>
    </form>
</div>
